
<button type="button" (click)="toggleHero()" name="button">Toggle heroes</button>
<div class="" *ngIf="toggleHeroFlag">
    <div class="" *ngFor=" let i=index let hero of dcHeroes;" (click)=selectHero(hero)>
        {{i+1}}) {{hero}}
    </div>
</div>

<div [ngSwitch]="selectedHero">
    <div *ngSwitchCase="dcHeroes[0]">Bruce Wayne</div>
    <div *ngSwitchCase="'Superman'">Clarke Kent</div>
    <div *ngSwitchCase="'Wonder Woman'">Princess Diana</div>
    <div *ngSwitchCase="'Flash'">Bari Allen</div>

    <div *ngSwitchDefault>None Hero selected</div>
</div>
